<div class="mb-5">
  <div class="button-row">
    <a mat-fab color="primary" [routerLink]="['/posts']"
      ><mat-icon>arrow_back</mat-icon></a
    >
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title
        ><h2>{{ post.title }}</h2></mat-card-title
      >
      <mat-card-subtitle>
        {{ post.author }} | {{ post.creationTime | date }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p class="p-4">
        {{ post.description }}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="canEdit">
      <hr />
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/post-edit', post.key]"
      >
        <mat-icon>edit</mat-icon> Edit
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="deletePost(post.key)"
        class="float-right"
      >
        <mat-icon>delete</mat-icon> Delete
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="mt-5" *ngIf="!canEdit">
    <div class="card-body">
      <form
        [formGroup]="commentForm"
        (ngSubmit)="onCommentFormSubmit(commentForm.value)"
      >
        <mat-form-field class="example-full-width">
          <textarea
            matInput
            placeholder="Comments"
            formControlName="comment"
            [errorStateMatcher]="matcher"
          ></textarea>
          <mat-error>
            <span
              *ngIf="
                !commentForm.get('comment').valid &&
                commentForm.get('comment').touched
              "
              >Enter comments...</span
            >
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button
            type="submit"
            [disabled]="!commentForm.valid"
            mat-raised-button
            color="primary"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </mat-card>
  <mat-card class="mt-5" *ngFor="let comment of comments">
    <mat-card-content>
      {{ comment.comment }}
      <br />
      <span class="float-right">By: {{ comment.displayName }}</span>
    </mat-card-content>
  </mat-card>
</div>
