<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/posts']"
    ><mat-icon>list</mat-icon></a
  >
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title
      ><h2>{{ post.title }}</h2></mat-card-title
    >
    <mat-card-subtitle>{{ post.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>ISBN:</dt>
      <dd>{{ post.isbn }}</dd>
      <dt>Author:</dt>
      <dd>{{ post.author }}</dd>
      <dt>Publisher:</dt>
      <dd>{{ post.publisher }}</dd>
      <dt>Publish Year:</dt>
      <dd>{{ post.published_year }}</dd>
      <dt>Update Date:</dt>
      <dd>{{ post.updated_date | date }}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/post-edit', post.key]"
      ><mat-icon>edit</mat-icon></a
    >
    <a mat-fab color="warn" (click)="deletePost(post.key)"
      ><mat-icon>delete</mat-icon></a
    >
  </mat-card-actions>
</mat-card>
