@import "~@angular/material/theming";

@include mat-core();

$custom-theme-primary: mat-palette($mat-light-blue);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
// $primary: mat-palette($mat-indigo);
// $accent: mat-palette($mat-pink, A200, A100, A400);
// $warn: mat-palette($mat-red);

$theme: mat-light-theme(
  $custom-theme-primary,
  $custom-theme-accent,
  $custom-theme-warn
);

@include angular-material-theme($theme);

// .light-theme {
//   //   color: $light-primary-text;
//   $dark-primary: mat-palette($mat-indigo);
//   $dark-accent: mat-palette($mat-amber, A400, A100, A700);
//   $dark-warn: mat-palette($mat-red);
//   background-color: #111;
//   $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

//   @include angular-material-theme($dark-theme);
// }
// Our dark theme
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  background-color: #111;
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
