/* You can add global styles to this file, and also import other style files */

// deeppurple-amber
// pink-bluegrey
// indigo-pink
// purple-green
@import "./material-theme";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body,
html {
  margin: 0 auto;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
