<div class="button-row">
  <a mat-fab color="primary" (click)="postDetails()"
    ><mat-icon>arrow_back</mat-icon></a
  >
</div>
<form [formGroup]="postForm" (ngSubmit)="onFormSubmit(postForm.value)">
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Title"
      formControlName="title"
      [errorStateMatcher]="matcher"
    />
    <mat-error>
      <span
        *ngIf="!postForm.get('title').valid && postForm.get('title').touched"
        >Please enter Post Title</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Link"
      formControlName="link"
      [errorStateMatcher]="matcher"
    />
    <mat-error>
      <span *ngIf="!postForm.get('link').valid && postForm.get('link').touched"
        >Please enter Post Link</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea
      matInput
      placeholder="Description"
      formControlName="description"
      [errorStateMatcher]="matcher"
    ></textarea>
    <mat-error>
      <span
        *ngIf="
          !postForm.get('description').valid &&
          postForm.get('description').touched
        "
        >Please enter Post Description</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Author"
      formControlName="author"
      [errorStateMatcher]="matcher"
    />
    <mat-error>
      <span
        *ngIf="!postForm.get('author').valid && postForm.get('author').touched"
        >Please enter Post Author</span
      >
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!postForm.valid" mat-fab color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>
