<div class="row mt-5">
  <div class="card col-6 mx-auto">
    <div class="card-body">
      <h5 class="card-title">
        {{ friend.name }}
        <button
          [routerLink]="['/edit', friend.id]"
          class="card-link float-right btn btn-outline-dark"
        >
          Edit
        </button>
      </h5>

      <p class="card-text">Id: {{ friend.id }}</p>
      <p class="card-text">Name: {{ friend.name }}</p>
      <p class="card-text">Address: {{ friend.address }}</p>
      <p class="card-text">Phone: {{ friend.phone }}</p>

      <button
        class="card-link btn btn-outline-dark btn-sm"
        (click)="navigateToPrev()"
        *ngIf="!(friend.id == firstElement)"
      >
        Prev
      </button>
      <button
        class="card-link float-right btn btn-outline-dark btn-sm"
        (click)="navigateToNext()"
        *ngIf="!(friend.id == lastElement)"
      >
        Next
      </button>
    </div>
  </div>
</div>
